<style>
.o { border-left: thin solid black; border-right: thin solid black; }
</style>
<% if params.has_key?('x') && params.has_key?('y') %>
<p class='head'>
<span>city:</span>
<span><%= params['x'] %></span>
<span>&</span>
<span><%= params['y'] %></span>
</p>
  <% CITY[params['x']][params['y']].places.each do |e| %>
  <p><a class='obj' href='https://<%= @app[:host] %>/here?place=<%= APP.enc(e) %>'><%= e %></a></p>
  <% end %>
<% elsif params.has_key?('x') %>
<p class='head'>
<span>city:</span>
<span><%= params['x'] %></span>
</p>
  <% CITY[params['x']].to_h.each_pair do |e, h| %>
  <a class='obj' href='https://<%= @app[:host] %>/city?x=<%= params['x'] %>&y=<%= APP.enc(e) %>'><%= e %></a>
  <% end %>
<% else %>
<p class='head'>
<span>city:</span>
</p>
<% CITY.to_h.each_pair do |e, h| %>
  <a class='obj' href='https://<%= @app[:host] %>/city?x=<%= APP.enc(e) %>'><%= e %></a>
<% end %>
<% end %>
