<style>
.b { padding: 0 1% 0 1%; font-size: small; }
.material-icons { font-size: x-small; }
</style>

<% @p, @h = [], Hash.new { |h,k| h[k.to_sym] = params[k] } %>
<% ['areas', 'types', 'affluence', 'returns', 'scans', 'affinity', 'sort'].each { |e| if params.has_key?(e); @p << @h[e]; end } %>
<p style="text-align: center; color: white; background-color: black; margin: 0;">places: <%= @p.join(', ') %></p>
<% HERE.filter(@h).each do |e| %>
<p style='width: 100%;'>
<span class='b'><span class='material-icons'>cake</span><span><%= e[:affluence] %></span></span>
<span class='b'><span class='material-icons'>assignment_ind</span><span><%= e[:affinity] %></span></span>
<span class='b'><span class='material-icons'>assignment</span><span><%= e[:scans] %></span></span>
<span class='b'><span class='material-icons'>assignment_return</span><span><%= e[:returns] %></span></span>
<span class='b'><span class='material-icons'>celebration</span><span><%= e[:influence] %></span></span>
<span class=''><%= e.for %></span>
</p>
<% end %>
